= form_tag({controller: :order, action: :add}, { class: 'add-to-cart-button', id: "book_widget_#{@book.id}" }) do
  = hidden_field_tag(:book, @book.id, {id: "book_widget_#{@book.id}_id"})
  = number_field_tag(:quantity, 1, min: 1, step: 1, id: "book_widget_#{@book.id}_quantity")
  = submit_tag "Buy", class: 'btn btn-success'
