!!!
.col-sm-4.col-lg-4.col-md-4.book-widget
  .thumbnail
    %img{:alt => "", :src => "http://placehold.it/320x150"}/
    .caption
      %h4.pull-right.price
        = "#{book.price}$"
      %h4.title
        %a{:href => "#{book_path(book)}"}
          = book.title
      %p.category
        = book.category.title
      %p.author
        = book.author.full_name
    .ratings
      %p.pull-right= pluralize(book.ratings.count, "review")
      %p= render partial: "books/stars", locals: {count: average_rating(book)}
    = add_to_cart_button(book)
