!!!
.col-sm-4.col-lg-4.col-md-4
  .thumbnail
    %img{:alt => "", :src => "http://placehold.it/320x150"}/
    .caption
      %h4.pull-right
        = "#{book.price}$"
      %h4
        %a{:href => "#{book_path(book)}"}
          = book.title
      %p 
        = book.category.title
      %p
        = book.author.full_name
    .ratings
      %p.pull-right= pluralize(book.ratings.count, "review")
      %p= render partial: "books/stars", locals: {count: average_rating(book)}
    .buy
      = link_to('Buy', book_path(book), {class: 'btn btn-success'})