%div.shop-item
  .thumbnail
    %img.img-responsive{:alt => "", :src => "http://placehold.it/800x300"}/
    .row
      .col-sm-9
        .caption-full
          %h4.pull-right $#{@book.price}
          %h4
            %a{:href => "#"}
            = @book.title
          %p
          = @book.description
        .ratings
          %p.pull-right #{@book.ratings.count} reviews
          %p
            = render partial: "stars", locals: {count: average_rating(@book)}
      .col-sm-3
        .caption-full
          = add_to_cart_button(@book)
  .panel.panel-default
    .panel-heading
      %h4 Reviews
    .panel-body
      = render :partial => 'books/ratings', :collection => @book.ratings, :as => :rating
      = render :partial => 'ratings/form', locals: {book: @book}
