!!!
%html
  = render :partial => 'layouts/head'
  %body
    = render :partial => 'layouts/nav'
    .container
      .row
        .col-sm-12
          - if notice 
            .alert.alert-success
              = notice
          - if alert  
            .alert.alert-danger
              = alert
      .row
        .col-md-12
          = yield
    .container
      %hr
      %footer
        .row
          .col-lg-12
            %p Copyright © Your Website 2014